@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Sarabun');

:root {
	--main-color:gold;
}

h1, h2, h3, h4, h5, h6, p, span, a, b, ul, ol, ui {
	color: white;
	font-family: 'Sarabun';
}
.material-icons {
	color: white;
}

body {
	background-image:url('../images/bg.jpg');
	overflow: hidden;
}

body > * {
	flex-shrink: 0;
	user-select: none;
	-o-user-select:none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

* {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes offsettozero {
	to {
		stroke-dashoffset: 0;
	}
}

textarea {
	resize: none;
}

.drop-shadow {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.player{
	width:10vw;
	height:10vw;
	background-image:url('https://scotty1944.net/person3.png');
	background-size:cover;
	background-position:center;
}

.player-text{
	position:absolute;
	left:50%;
	top:-35%;
	transform:translateX(-50%);
	font-size:1.3vw;
	width:20vw;
	text-align:center;
}

.timer {
	position:absolute;
	width:40%;
	height:7%;
	padding:1%;

	text-align:center;

	top:30%;
	left:50%;
	transform:translateX(-50%);
	
	font-size:2.2vw;
}

.controls {
	position:absolute;
	width:25%;
	height:15%;
	background:rgba(0,0,0,0.15);
	padding:1%;

	text-align:center;

	top:38%;
	left:50%;
	transform:translateX(-50%);
}

.dealer-text {
	font-size:1.7vw;
}

.winner-text {
	font-size:1.5vw;
}

.action-btn {
	color: white;
	background:rgba(100,100,100,0.4);
	padding: 2% 6%;
	border-style: groove;
	border-width: 0;
	border-radius: 2px;
	font-size:0.9vw;
	
	text-align:center;
	
	transition: 0.3s;
}

.action-btn:hover {
	color: gold;
	background:rgba(120,120,120,0.95);
	cursor: pointer;
	font-size:1.1vw;
}

.desk {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.2);
	top:0;
	left:0;
}

.card-desk{
	position:absolute;
	top:10%;
	left:58%;
	transform:translateX(-50%);
	
	width:10vw;
	height:10vw;
}

.dealer{
	position:absolute;
	top:10%;
	left:45%;
	transform:translateX(-50%);
	
	width:10vw;
	height:10vw;
}

.dealer .card:nth-child(1) {
	
}

.dealer .card:nth-child(2) {
	left:15%;
	top:5%;
}

.dealer .card:nth-child(3) {
	left:30%;
	top:12%;
}

.desk .player:nth-child(1){
	position:absolute;
	top:40%;
	left:5%;
}

.desk .player:nth-child(2){
	position:absolute;
	top:65%;
	left:20%;
}

.desk .player:nth-child(3){
	position:absolute;
	top:75%;
	left:50%;
	transform:translateX(-50%);
}

.desk .player:nth-child(4){
	position:absolute;
	top:65%;
	left:80%;
	transform:translateX(-100%);
}

.desk .player:nth-child(5){
	position:absolute;
	top:40%;
	left:95%;
	transform:translateX(-100%);
}

.card {
	opacity:0.0;
	width:7vw;
	height:9.2vw;
	position:absolute;
	transition:0.4s;
}

.player .card:nth-child(1) {
	
}

.player .card:nth-child(2) {
	left:15%;
	top:5%;
}

.player .card:nth-child(3) {
	left:30%;
	top:12%;
}

.card-score {
	background:black;
	z-index:99;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:1vw;
	width:80%;
	text-align:center;
	padding-top:2%;
	padding-bottom:2%;
}

.card-result {
	background:gold;
	z-index:99;
	position:absolute;
	left:50%;
	top:70%;
	transform:translate(-50%,-50%);
	font-size:1vw;
	width:80%;
	text-align:center;
	padding-top:2%;
	padding-bottom:2%;
	color:black;
}

.row {
	height: 100%;
}

.hidov {
	overflow:hidden;
}

.middle {
	text-align: center;
}

.right {
	text-align: right;
}

.float-right {
	float: right;
}

.full {
	width:100%;
}

.half {
	width:50%;
}

.onehalf {
	width:25%;
}

.full-height {
	height:100%;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.vertical-center-right {
	margin: 0;
	position: absolute;
	top: 50%;
	right: 0;
	margin-right:2.5%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.row {
	display: flex;
	/*flex-wrap: wrap;*/
	flex: 1;
}

.column {
	flex:1;
}

.column-left {
	flex:0 0 8%;
}

select {
	color:white;
	background: rgba(0,0,0,0.4);
	border: none;
	outline: none;
	border-color: inherit;
}

.flex {
	display:flex;
	width:100%;
}

.flex .column {
	flex-direction:column;
}

.flex-column {
	flex-direction:column;
}

.flex .col-1 {
	flex: 0 0 10%;
}

.flex .col-1 {
	flex: 0 0 20%;
}

.flex .col-3 {
	flex: 0 0 30%;
}

.flex .col-4 {
	flex: 0 0 40%;
}

.flex .col-5 {
	flex: 0 0 50%;
}

.flex .col-6 {
	flex: 0 0 60%;
}

.flex .col-7 {
	flex: 0 0 70%;
}

.pa-1 {
	padding:1%;
}

.pa-2 {
	padding:2%;
}

.pa-3 {
	padding:3%;
}

.fv-0-5 {
	font-size: 0.5vw;
}

.fv-0-7 {
	font-size: 0.7vw;
}

.fv-0-8 {
	font-size: 0.8vw;
}

.fv-1 {
	font-size: 1vw;
}

.fv-1-5 {
	font-size: 1.5vw;
}

.fv-2 {
	font-size: 2.0vw;
}

.text-muted {
	color: #6c757d !important;
}

.text-lgray {
	color: #dedede !important;
}

.hover-scale {
	transition:0.2s;
}

.hover-scale:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 1450px) {
	#menu{
		width: 60%;
	}

	#menu2{
		width: 60%;
	}
}

@media screen and (max-width: 1200px) {
	#spawn-menu{
		width:35%;
	}

	#menu{
		width: 70%;
	}

	#menu2{
		width: 70%;
	}
}

@media screen and (max-width: 850px) {
	#spawn-menu{
		width:45%;
	}

	#menu{
		width: 90%;
	}

	#menu2{
		width: 90%;
	}
}
