body {
    font-family: sans-serif;
    overflow: hidden;
    display: none;
}

#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

.dialog {
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size:1vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

form {
    margin: 0;
}

input[type=text] {
    width: 100%;
    padding: 10px;
	text-align: center;
}

button {
    display: block;
    margin-top: 5px;
    padding: 10px;
    background-color: #6900c5;
    border: 0;
    color: #fff;
    width: 100%;
}

button:hover {
background-color: #9645de;
}

h1 {
    display: block;
    margin-top: 5px;
	margin-right: 5px;
    padding: 10px;
    background-color: #6c6c7f;
    border: 0;
    color: #fff;
    width: 93%;
	text-align: center;
}
