#hunger {
    position: absolute;
    left: 1.531%;
    bottom: 0.35%;
    width: 2.440%;
    height: 0.9%;
    padding: 0;
    float:left;
    background:#5F5F5F;
}
#thirst {
    position: absolute;
    left: 4.30%;
    bottom: 0.35%;
    width: 2.440%;
    height: 0.9%;
    padding: 0;
    float:left;
    background:#5F5F5F;
}

--#drunk {
    position: absolute;
    left: 11.00%;
    bottom: 0.35%;
    width: 4.440%;
    height: 0.9%;
    padding: 0;
    float:left;
    background:#5F5F5F;
}


#boxDrunk, #boxHunger, #boxThirst {
    background: #73be73;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

#boxHunger {
    background: #F1E23F;
}
#boxThirst {
    background: #359DF7;
}

--#boxDrunk {
    background: #502F68;
}

body {
    overflow: hidden;
    height:1080px;
    width:100%;
}